{% extends 'base.html' %}

{% block title %}About Page{% endblock title %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">This Is About Page!</h1>
    <p>An About Us page can be one of the most important pages on your website but it is one of the most overlooked
        elements on your website normally. About Us pages can highlight why you created your business, your commitment
        to sustainability, or you can tell the story of how your business came to be. As an important part of your
        website your About Us page can set you apart from your competitors in a way that can build your brand in a
        positive way.</p>
</div>

{% endblock body %}